/* UserDashboard.css */
.open-loan-form-button {
  background-color: #4b3f72;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.open-loan-form-button:hover {
  background-color: #372f58;
}
